<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>testCalculator</title>

    <link rel="stylesheet" href="{{ asset('assets/main.css') }}">

</head>
<body id="js-body">

    {% block body %}{% endblock %}

</body>
</html>
